In [ ]:
#Aadit Joshi 25070123173
#Exp 1: Introduction to Phyton

Aadit Joshi 25070123173 Exp 1: Introduction to Phyton

In [ ]:
print("Orange","Apple","Banana", sep= "\n")

Orange
Apple
Banana

In [ ]:
x,y,z="orange","apple","banana"
print(x)

orange

In [ ]:
x=2
y=2.5
z="aadit"
w=True
print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [11]:
x,y=10,5
print("add=",x+y)
print("sub=",x-y)
print("mul=",x*y)
print("div=",x/y)
print("exp=",x**y)

add= 15
sub= 5
mul= 50
div= 2.0
exp= 100000

In [21]:
x=int(input("enter the value of x="))
y=int(input("enter te value of y="))
print("add=",x+y)
print("sub=",x-y)
print("mul=",x*y)
print("div=",x/y)
print("exp=",x**y)

enter the value of x=5
enter te value of y=7
add= 12
sub= -2
mul= 35
div= 0.7142857142857143
exp= 78125

In [20]:
#write phyton code for area of circle

import math
r=int(input("radius of circle="))
print("area of circle=",math.pi*r*r)

radius of circle=6
area of circle= 113.09733552923255

In [19]:
import math
r=float(input("radius of circle="))
print("area of circle=",math.pi*r*r)

radius of circle=3.0
area of circle= 28.274333882308138

In [ ]:
import math
print(math.log10(10))

In [27]:
#greater than less than
a=10
b=1
if(a>b):
  print("a is greater")
else:
  print("b is greater")

a is greater